/* Container for the whole page */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

/* Main Area */
.main-area {
    display: flex;
    width: calc(80% - 320px);
    /* reward-selection이 고정된 만큼 왼쪽 영역의 너비를 조정 */
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


/* Left side: Funding Area */
.funding-area {
    flex: 2;
    padding-right: 20px;
}

.book-cover img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.funding-info {
    margin-bottom: 20px;
}

.goal-amount {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
    flex-direction: column;
    border-bottom: 1px solid #5cb85c;
}

.goal-amount .amount {
    color: #d9534f;
    font-weight: bold;
}

.goal-amount .percentage {
    color: #5cb85c;
    font-weight: bold;
}

.remaining-time,
.participant-count {
    margin-bottom: 10px;
    font-size: 16px;
}

.description-area {
    margin-top: 30px;
}

.description-area h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Right side: Reward Selection */
.reward-selection {
    flex: 1;
    position: fixed;
    top: 170px;
    /* 페이지 상단에서부터의 거리 */
    right: 20px;
    /* 오른쪽에서부터의 거리 */
    background-color: #ffecf0;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}


.reward-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

.reward-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.reward-button:hover {
    background-color: #0056b3;
}

.description-area img {
    max-width: 100%;
    /* 이미지를 영역 안에 맞춤 */
    height: auto;
    /* 이미지 비율 유지 */
    max-height: 300px;
    /* 최대 높이를 제한 */
}