@charset "UTF-8";

.banner--content img {
    width: 100%; /* 부모 요소에 맞춤 */
    max-width: 1200px; /* 최대 너비 제한 */
    height: auto; /* 비율 유지 */
    display: block; /* 부모 요소의 너비를 가득 채우도록 설정 */
    margin: 0 auto;
}