@charset "UTF-8";


/*
1. 클래스에 생성시 하이픈 -- 두번 통일
2. 위치 -- 용도 -- 추가 *예(.center--content--area)
3. 명칭 통일 버튼 = btn, 이미지 =img, 영역 = area, 위치= top, center ,side,bottom 
*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 1200px;;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}


#part-star fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#part-star fieldset legend{
    text-align: right;
}
#part-star input[type=radio]{
    display: none;
}
#part-star label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#part-star label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#part-star label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#part-star input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}