@charset "UTF-8";
/* 전체 페이지 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* 부드러운 회색 배경 */
    color: #333; /* 기본 텍스트 색상 */
    margin: 0;
    padding: 0;
}


/* 컨테이너 스타일 */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff; /* 흰색 배경 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    border-radius: 5px; /* 부드러운 모서리 */
}

/* 제목 스타일 */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black; 
}

/* 테이블 스타일 */
.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

/* 테이블 헤더 스타일 */
.table th {
    background-color: #f5f5f5;
    color: black;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ff4081;
}

/* 테이블 데이터 셀 스타일 */
.table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

/* 테이블의 짝수 행 색상 변경 */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.btn-insert{
	float: right;
	margin:10px;
}


/* 삭제, 새글 버튼 스타일 */
.btn-danger,
.btn-insert {
    background-color: #ff4081;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

/* 삭제 버튼 호버 효과 */
.btn-danger:hover,
.btn-insert:hover {
    background-color: #ccc;
}

/* 폼 스타일 */
form.d-inline {
    display: inline;
}


