@charset "UTF-8";


.sidebar {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -350px; 
  width: 350px;
  height: 100%;
  background-color: rgba(255, 118, 118, 0.73);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  
}

.sidebar.open {
  right: 0; 
}

.sidebar ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.sidebar ul li {
  padding: 15px 0;
  margin-bottom: 15px;
  
}

.sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  
}


.nav-profile {
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.pencil-icon{
  margin-bottom: 50px;
}

.nav-profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.logout{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: red;
  margin-top: 150px;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
}

.num{
  display: flex;
background-color: #ffffff;
border-radius: 5px;
height: 25px;
width: 200px;
justify-content: center;
align-items: center;
color: black;
font-size: 12px;
border:  solid 3  px #fb4141;
}
