@charset "UTF-8";

/* 전체 컨테이너 */
.center--content--container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	width: 100vw;
	box-sizing: border-box;
	border: solid 1px #333;
	margin: 20px;
}

/* 책 영역 */
.book--area {
	position: relative;
	display: flex;
	justify-content: flex-start; 
	align-items: flex-start;
	gap: 10px; 
	padding: 15px; 
	margin-bottom: 20px;
	box-sizing: border-box;
	width: fit-content; 
	
}	

/* left-section과 extra-content 사이 여백 조정 */
.left-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 50px; /* 이미지와 줄거리 영역 사이에 10px 간격 추가 */
	width: 100%;
	cursor: pointer;
}

/* 커버 이미지 스타일 */
.img--cover {
	width: 200px;
	height: 300px;
	border: solid 1px #333;
}

/* book-info: 이미지와 텍스트 간격 설정 */
.book-info {
	margin-left: 15px; /* 이미지와 텍스트 사이의 간격 추가 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
}





.extra-content {
	position: absolute; /* 부모 요소 위에 고정 */
	top: 0; /* 부모 요소의 맨 위에 위치 */
	left: 0; /* 부모 요소의 맨 왼쪽에 위치 */
	width: 100%; /* 부모 요소 너비에 맞게 설정 */
	height: 100%; /* 부모 요소 높이에 맞게 설정 */
	background-color: rgb(146, 146, 146); /* 배경색 추가하여 겹칠 때 잘 보이도록 설정 */
	opacity: 0; /* 기본적으로 보이지 않도록 설정 */
	transition: opacity 0.3s ease; /* 부드러운 페이드 효과 */
	z-index: 10; /* 요소가 겹칠 때 위쪽에 표시되도록 설정 */
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  /* 마우스를 올렸을 때 extra-content 보이기 */
  .book--area:hover .extra-content {
	opacity: 1; /* 마우스를 올리면 투명도 변경 */
  }
  
  /* center-section을 왼쪽에 정렬 */
  .center-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	flex-grow: 1;
	width: 50vh;
  }

























































/* 스토리 영역  */
.top--nav--area{
	display: flex;
	justify-content: center;
	width: 100vw;
	

}


.story--part {
	position: relative; 
  }
  .image-container {
	position: relative; 
	display: inline-block; 
  }

.img--story{
	height: 300px;
	width: 75px;
	display: block; 
}

.text-overlay{

	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	color: black; 
	font-size: 14px; 
	font-weight: bold; 
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 	writing-mode: vertical-rl; /* 텍스트를 세로로 표시 */
  text-orientation: upright; /* 글자를 직립 형태로 표시 */

}























.navbar{

font-weight: bold;
}

.navbar a{
	text-decoration: none;
	color: #f06292;
	padding-right: 20px;
}

/* 버튼 영역 설정 */
.top--btn--area{
	display: flex;
	width: 100vw;
	justify-content: flex-end;
	margin-right: 100px;
}

.btn--area{
	display: flex;
	justify-content:flex-end ;
}


/* 버튼 스타일 */
.btn--insert {
	background-color: #f06292;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%;
	max-width: 200px;
}

.btn--insert:hover {
	background-color: #e91e63;
}