@charset "UTF-8";

       body {
            font-family: Arial, sans-serif;
    		background-color: pink;
    		margin: 0;
		    padding: 0;
		    display: flex;
		    height: 100vh;
		    flex-wrap: nowrap;
		    flex-direction: column;
		    justify-content: space-between;
        }
        
        .bottom--sendarea{
        margin: 14px;

        }
        #messages {
        	margin-top:20px;
            height: 650px;
            border: 1px solid #ccc;
            overflow-y: scroll;
            padding: 10px;
            border-radius: 4px;
            background-color: #f9f9f9;
          
            box-sizing: border-box;
            margin-left:14px;
            margin-right:14px;  
        }
        .input-container {
            display: flex;
            align-items: center;
            width: 100%;
           
        }
        #messageInput {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
            margin-right: 5px;
            box-sizing: border-box;
            outline: none; 
        }
        button {
            padding: 10px 15px;
            background-color: #ff4d6d;
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            flex-shrink: 0;
            
        }
        button:hover {
            background-color: #fdeb60;
        }
        
    .my-message {
    text-align: right;
    background-color: #dcf8c6;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    max-width: 60%;
    word-wrap: break-word;
}

.other-message {
    text-align: left;
    background-color: #f1f0f0;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-right: auto; 
    max-width: 60%;
    word-wrap: break-word;
}